<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374755053213-sao5mc2t9o811qkaio3nquve1vmp7b8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374755053213-sao5mc2t9o811qkaio3nquve1vmp7b8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374755053213-91sk9hqh0letpg2jnn1lin3r4h5d1dq1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCe9BP1TTc68ctfMYbkRlnAWkj9wZH-nCA</string>
	<key>GCM_SENDER_ID</key>
	<string>374755053213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedabuali.lexisnap</string>
	<key>PROJECT_ID</key>
	<string>lexisnap-application</string>
	<key>STORAGE_BUCKET</key>
	<string>lexisnap-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374755053213:ios:9bf1f55eff41ab742c0e74</string>
</dict>
</plist>